body {
    font-family: Arial, sans-serif;
    background-color: #4f84b5b1;
    text-align: center;
    background-image: linear-gradient(to right,#e22865,#37adcd);
}

.container {
    max-width: 400px;
    margin: 0  auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

h1 {
    margin-bottom: 20px;
}

.form {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #0eb30e;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

ul {
    list-style:disc;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

li:last-child {
    border-bottom: none;
}

.delete-button {
    background-color: #ff3d3d;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
